<div class = "col-md-9">
    <h2 id = "kernel">核心优势</h2>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>激励极值</h4>
                <p>
                诺多链（ElForce）平台通过开源算法的激励机制鼓励用户和开发者创造优质内容、平台建设、
                分发推广等种种活跃社交网络的行为，整个流程采用智能合约技术实现公开透明，保障了所有创作者的收益
                </p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>共识机制</h4>
                <p>
                    所有用户参与的投票制度是共识机制的保证。平台的价值
                    观就是“还价值于用户”，任何决策采用全民投票，并会通过在投票中获得50%以上活跃节点赞同的提案。
                </p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>安全机制</h4>
                <p>
                    区块链技术的非对称加密技术可以保证平台上所有用户信息的安全，防止任何用户信息的泄露。
                </p>
            </div>
            <div class="col-lg-4 center">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>人工智能</h4>
                <p>
                    诺多链（ElForce）平台将通过深度学习算法对所有图片进行过滤，防止色情图片在平台泛滥。
                    同时，深度学习和增强学习的组合打造具有自学习能力的全能艺术机器人ArtZero.
                </p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>版权方面</h4>
                <p>
                    平台采用区块链时间戳和特有的隐形二维码技术，对版权进行登记确权，为每一张图片建立起
                    线上线下统一的身份证，并提供版权查询、版权交易和保护的全链条一体化管控服务。商业模式上，平台
                    致力于培养用户创作能力，用户在平台上的任何作品具有知识产权（IP），用户可以通过售卖作品（数字资产）
                    来进行资产变现。
                </p>
            </div>
        </div>
    </div>
</div>