.kernel-page {
  padding-top: 60px;
}

.marketing {
  margin-right: 5px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.marketing .col-md-3 {
  margin-bottom: 1.5rem;
  text-align: center;
  float: none;
}

.kernel-descrip {
  text-align: left
}

.adv-desp {
  margin: 10px;
}

.adv-1 {
  background-color: blue;
  margin: 5px;
}

.adv-2 {
  background-color: brown;
  margin: 5px;
}

.adv-3 {
  background-color: chartreuse;
  margin:5px;
}

.adv-4 {
  background-color: crimson;
  margin: 5px;
}

.adv-5 {
  background-color: gold;
  margin: 5px;
}


  