.kernal-container {
  margin: 0;
  background-color: rgb(202, 197, 197);
  opacity: 0.8;

  padding: 0;
}

.kernel-page {
  padding-top: 60px;
}

.marketing {
  margin-right: 5px;
}

.row-div {
  margin-bottom: 0;
  padding: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  padding: 0;

  color: white;
}

.col-md-3-5 {
  margin-bottom: 1.5rem;
  text-align: center;
  float: none;
}

@media (min-width: 992px) { 
  .col-md-3-5 {
    width: 18.8%;
  }
}

@media (max-width:768px){
  .col-md-3-5{
     width:99%;
   }
}

.kernel-descrip {
  text-align: left
}

.adv-desp {
  margin: 0px;
}

.adv-1 {
  background-color: rgb(93, 114, 155);
  margin-left: 0;
  margin-right: 15px;

  border-radius: 4px;

}

.adv-2 {
  background-color: rgb(75, 104, 161);
  margin-left: 0;
  margin-right:15px;

  border-radius: 4px;

}

.adv-3 {
  background-color: rgb(63, 100, 173);
  margin-left: 0;
  margin-right: 15px;

  border-radius: 4px;
}

.adv-4 {
  background-color: rgb(33, 77, 165);
  margin-left: 0;
  margin-right: 15px;

  border-radius: 4px;

}

.adv-5 {
  background-color: rgb(9, 61, 165);
  margin-left: 0;
  margin-right: 15px;

  border-radius: 4px;

  opacity: 0.8;
}

.image {
  width: 80px;
  height: 80px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.text {
  font-size: 12px;
}


  