<div class = "col-md-12">
    <h2 id = "kernel">核心优势</h2>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4 adv-1">
                <div class="adv-desp">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h4>激励极值</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>激励流程公开透明</li>
                            <li>智能合约保证收益及时</li>
                            <li>社交智能化推动社交价值重构</li>
                            <li>人工智能赋能用户，创造优质数字资产</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 adv-2">
                <div class="adv-desp">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h4>共识机制</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>全民参与保证公平</li>
                            <li>简单多数表决投票</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 adv-3">
                <div class="adv-desp">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h4>安全机制</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>客户数据非对称加密</li>
                            <li>数据取之与用户，用之于用户</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 adv-4">
                <div class="adv-desp">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h4>人工智能</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>开源深度学习模型过滤色情图片</li>
                            <li>AlphaGo Zero版本的艺术机器人ArtZero</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 adv-5">
                <div class="adv-desp">
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h4>版权方面</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>用户数字版权交易变现</li>
                            <li>隐形二维码打通线上线下版权追溯</li>
                            <li>用户在平台上数字作品的共有版权</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>