<div class = "col-md-12 kernal-container">
    <h2 id="kernel" class="text-center kernel-page">核心优势</h2>
    <div class="container-fluid marketing">
        <div class="row row-div">
            <div class="col-md-3-5 adv-1">
                <div class="adv-desp">
                    <img class="rounded-circle" src="assets/shejiao.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h4>社交价值共识</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>用户是平台的核心</li>
                            <li>用户点赞、评论、分享具有价值</li>
                            <li>用户创作的数字资产具有价值</li>
                            <li>用户的时间具有价值</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3-5 adv-2">
                <div class="adv-desp">
                    <img class="rounded-circle" src="assets/jili.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h4>社交价值激励</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>用户创作价值最大化</li>
                            <li>用户社交的价值获得EF代币奖励</li>
                            <li>用户的时间获得EF代币奖励</li>
                            <li>用户的任何贡献获得EF代币奖励</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3-5 adv-3">
                <div class="adv-desp">
                    <img class="rounded-circle" src="assets/ai.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h4>人工智能</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>社交活动与人工智能模型学习相结合</li>
                            <li>人工智能深度学习离线式绘画学习模型 -- ArtZero 1.0</li>
                            <li>人工智能人机交互式绘画学习模型 -- ArtZero 2.0</li>
                            <li>人工智能创造性行为通用解决方案</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3-5 adv-4">
                <div class="adv-desp">
                    <img class="rounded-circle" src="assets/nianxing.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h4>高用户粘性</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>平台赋予用户绘画创造能力</li>
                            <li>构建绘画社交交易生态</li>
                            <li>深度绑定用户权益</li>
                            <li>用户的绘画创造能力离不开平台</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3-5 adv-5">
                <div class="adv-desp">
                    <img class="rounded-circle" src="assets/banquan.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h4>版权综合方案</h4>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li>多方共治综合解决版权确权维权问题</li>
                            <li>区块链时间戳线上追溯确权</li>
                            <li>二维码线下追溯确权</li>
                            <li>专设部门建立与政府长效联系</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
