.kernel-page {
  padding-top: 60px;
}

.marketing {
  margin-left: 5%;
  margin-right: 5%;
}

.kernel-row {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

.marketing .col-md-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.kernel-descrip {
  text-align: left
}

.adv-desp {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adv-1 {
  background-color: blue;
  margin: 5px;
}

.adv-2 {
  background-color: brown;
  margin: 5px;
}

.adv-3 {
  background-color: chartreuse;
  margin:5px;
}

.adv-4 {
  background-color: crimson;
  margin: 5px;
}

.adv-5 {
  background-color: gold;
  margin: 5px;
}


  