<footer class="mastfoot mt-auto footer">
  <div class="row item-group">
    <div class="col-md-3-5 contact-item ">
      <p>邮箱： ****@apc.org</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>网址： www.apc.org</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>官方QQ群：903290</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>官方客服微信：添加微信</p>
    </div>
  </div>
  <div class="inner text-center">
    <span class="text-muted">Copyright &copy; Singapor APC Foundation 2018</span>
  </div>
</footer>