<div class="col-md-12 chain">
    <h4 id="chain" class="text-center chain-page">Noldor Chain</h4>
    <p class="font" >    诺多链是一款去中心化的智能图片社交平台。它旨在帮助用户提升绘画创作能力，打造超级绘画IP。
      平台主张，“社交创造价值”，因此利用去中心化的区块链生态，帮助图片社交网络上的内容创造者和参与者，
      恢复互联网自由身份，不再被中心化社交网络绑架，建立全新的奖惩制度、激励制度和社交新模式，奖励
      EF(ElForce)代币作为社区贡献的奖励。同时，平台认为，“社交即学习”，因此结合社交和人工智能技术，
      打造全新的学习机制，培养用户个性化创作风格。
    </p>
    <p class="font">
      诺多链着眼于图片社交，利用区块链生态，确保用户的贡献通过EF(ElForce)代币获得奖励。用户贡献
      的内容包括生成高质量的图片素材，样式、绘画能力和第三方算法，以及帐户设置和验证、版权证明、广告推广、
      维护活动频道、查找错误、侵权举报等等。代币奖励机制是帮助促进社交网络平台长期可持续发展的核心动力。
    </p>

    <p class="font">
      诺多链代币奖励收到后即可投入平台使用。用户可以用代币支付平台上的一切应用活动，包括图片交易、广告服务、
    打赏服务、媒体服务、客户服务、 支付服务等。平台将智能合约技术实现上述功能。需重点指出，平台允许法币 购
    买图片及服务，因此产生的代币，平台支持法币兑换功能。未来，诺多链将用新的技术颠覆整个市场的运作模式，创
    造21世纪新式社交网络生态。
  </p>
  <ul class="font">
        <li>中文名称：诺多链</li>
        <li>英文名称：Noldor Chain</li>
        <li>代码：EF</li>
        <li>总量：1000亿</li>
        <li>诞生日：未知</li>
    </ul>

    <div class="text-center link">
        <a href="assets/白皮书.pdf" download="whitepaper.pdf">Download Whitepaper</a>
    </div>
</div>