<div class="product">
    <div class="row">
        <img class="brush-image" src="assets/product-brush.png">
        <img class="product-image" src="assets/product_introduct.png">
        <img class="palette" src="assets/palette.png">
    </div>
    <div class="general-info">
        <div class="title">
            <img class="logoimage" src="assets/logo.png">
            <div class="info">
                <p class="common">诺多精灵之力(Noldor Elforce)是诺多链为EF开发的应用程序，可以完全支持诺多链的功能构架，
                        该app始终以用户为核心，围绕用户来构建生态，将专注以下三个方面:
                    <li class="detail">持续壮大整个社交网络，让更多的用户、开发者加入并丰富整个网络；</li>
                    <li class="detail">应用合理的奖励和激励系统回馈用户及合作伙伴；</li>
                    <li class="detail">培养用户绘画创造能力，最终成为绘画IP。</li>
                </p>
            </div>
        </div>
        <div class="detail-info">
            <h6>流量池</h6>
            <p class="detail"> 全球有24亿人通过社交工具和社群网络建立人脉和社群，频繁分享自己的 个人生活和情感已经屡见不鲜。
                常见的社交网络平台，新手的作品往往不会快 速被他人认可，所以往往需要较长的时间进行产品输出，自我营
                销和包装，才能达到吸粉的效果。诺多链可以在没有粉丝的情况下进行社交互动。
            </p>
            <p class="detail">
                用户在台上分享内容，平台采用去中心化的流量池，为每个用户分配分享内容。诺多链根据智能算法为每一
                个用户初始化流量池，如图2所示，诺多链会根据你在流量池里的表现，决定是把你的作品推送给更多的人，
                还是仅限于此。衡量流量池表现的标准包括:作品量，点赞量，评论数量和质量，分享量，停留时间。
            </p>
        </div>
        <div class="detail-info">
            <h6>创作</h6>
            <p class="detail"> 经分析，目前所有的图片社交平台，包括业界内的典范—Instagram，最大的痛点就是创造力不足，平均每5
                个人会贡献1张照片或者图片。作为图片社交 的核心内容，输出能力极其薄弱，严重影响了用户参与的积极性。
                工具的引入可以提高图片的输出能力，但却不能摆脱工具的同质化的难题，最后沦为社交的辅助工具。
            </p>
            <p class="detail">
                诺多精灵之力主打创作，创作素材来源于图片或者照片，利用人工智能深度学习算法与素材相结合进行创作行为，
                是诺多精灵之力的核心功能。平台创 造性地将社交个性化数据与人工智能相结合，大大提高了图片
                内容输出能力，将用户社交行为等同于人工智能模型的学习过程，重塑人工智能工具的社交属性，彻底解决工具
                不能做社交的尴尬处境。
            </p>
        </div>
    </div>
    <div class="video-group">
        <button (click)="play()"></button>
        <video [hidden]="!playVideo" id="video" class="video" controls="controls" controlslist="nodownload">
            <source class="source" src="assets/Demo.mp4" type="video/mp4">
        </video> 
    </div>
</div>
