<div class="product">
    <div class="row">
        <img class="brush-image" src="assets/product-brush.png">
        <img class="product-image" src="assets/product_introduct.png">
        <img class="palette" src="assets/palette.png">
    </div>
    <div class="general-info">
        <div class="title">
            <img class="logoimage" src="assets/logo.png">
            <div class="info">
                <p class="common">诺多精灵之力(Noldor Elforce)是诺多链为EF开发的应用程序，可以完全支持诺多链的功能构架，
                        该app始终以用户为核心，围绕用户来构建生态，将专注以下三个方面:
                        <li class="detail">⾼度市场化的书画交易平台；</li>
                        <li class="detail">应⽤合理的奖励和激励系统的社交平台；</li>
                        <li class="detail">赋与⽤户绘画创造能⼒，最终成为绘画IP。</li>
                </p>
            </div>
        </div>
        <div class="detail-info">
            <h6>交易系统</h6>
            <p class="detail">订单管理是交易系统的核⼼之⼀，包括⽀付信息，书画作品信息，状态信 息，时间信息，快递信息和⽤户信息等。 
            </p>
            <p class="detail">平台⽀持交易信息的私密保护功能，即采⽤信息加密，以保护买卖双⽅的信息的安全性。</p>
        </div>
        <div class="detail-info">
            <h6>图链式流量池</h6>
            <p class="detail">平台整合了书画交易链和社交链，设计了平台独特的“图链”系统。根据“图链”体系推荐⽤户流量池，以保证没有粉丝情况下的交易和社交。
                    <br>
                    平台⽀持交易信息的私密保护功能，即采⽤信息加密，以保护买卖双⽅的信息的安全性。
            </p>
        </div>
        <div class="detail-info">
            <h6>创作</h6>
            <p class="detail">诺多精灵之⼒的⽬标是“⼈⼈都是书画艺术家”，提升⽤户创作能⼒。创作素材来源于图⽚或者照⽚，利⽤⼈⼯智能深度学习算法与素材相结合进⾏创作⾏为，是诺多精灵之⼒的核⼼功能。平台创造性地将社交个性化数据与⼈⼯智能相结合，⼤⼤提⾼了图⽚内容输出能⼒，将⽤户社交⾏为等同于 ⼈⼯智能模型的学习过程，重塑⼈⼯智能⼯具的社交属性，彻底解决⼯具不能做社交的尴尬处境。
            </p>
        </div>
        <div class="detail-info">
            <h6>加密式即时通讯 </h6>
            <p class="detail">建⽴交易或者社交关系后，可进⼊即时加密式通讯系统，让朋友们可以⼀ 对⼀进⾏聊天，也可以创建群组和社群进⾏聊天交流。通讯信息通过点对点加密保证信息的安全性。讯息⽀持“阅后即焚”。
            </p>
        </div>
    </div>
    <div class="video-group">
        <button (click)="play()"></button>
        <video [hidden]="!playVideo" id="video" class="video" controls="controls" controlslist="nodownload" (ended)="playEnded()">
            <source class="source" src="assets/Demo.mp4" type="video/mp4">
        </video> 
    </div>
</div>
