<div class="col-md-12 chain row">
    <div class="info-container">
      <div class="introduction">
          <p class="font" >诺多链是全球⾸个基于区块链的书画艺术品IP⽣态系统。它旨在打造书画艺术品数字资产，建⽴去中⼼化的书画艺术品IP的价值体系，创造性地将AI⼈⼯智能引⼊，打造集创作、交易、社交于⼀体的全周期⽣态系统。平台致⼒于书画作品，使书画艺术品创作、价值认同和价值兑现得以完美融合。⽤户上传或者通过视觉算法⽣成的作品登记并记录在区块链，获得艺术品的链上⾝份； 社交⽤户点赞和评论帮助建⽴艺术品价值认同；区块链的去中⼼化的价值⽣态帮助实现艺术品价值变现。 
          </p>
      
          <p class="font">
            诺多链利⽤区块链技术，建⽴⼀个⾼度市场化，没有欺诈的世界，并将书画作品证券化，代币化。同时，将书画作品带⼊寻常百姓家，让⼤众成为书画作品价值的参与者和受益者。书画作品所有者因此加快价值兑现和流通的进度。诺多链将建⽴全新的艺术品IP运作⽅式，创造21世纪新式IP价值⽣态系统。 
        </p>

        <p class="font">
            诺多链以EF（ElForce）代币作为平台所有活动的通⽤中介。活动包括书画交易、打赏服务、媒体服务、客户服务、社交激励等。平台将智能合约技术实现上述功能。需重点指出，EF作为艺术品的等价物，具有艺术品的属性，即收藏与升值。
          </p>
      </div>
      <div class="footer-container" id="chain-footer">
          <div class="download"> 
              <!-- <a href="assets/NoldorCHAIN-CN.pdf" download="诺多链.pdf">下载白皮书</a> -->
          </div>
          <div class="info-group">
            <p>中文名称：诺多链</p>
            <div class="fenge"></div>
            <p>英文名称：Noldor Chain</p>
            <div class="fenge"></div>
            <p>代码：EF</p>
            <div class="fenge"></div>
            <p>诞生日：未知</p>
          </div>
      </div>
  </div>
  <div class="placeholderImage">
    <img src="assets/desk.png">
  </div>
</div>