<footer class="mastfoot mt-auto footer">
  <div class="info-group">
    <div class="row item-group">
        <div class="contact-item">
          <p>邮箱： service@elforce.net</p>
        </div>
        <div class="contact-item">
          <p>网址： www.apc.org</p>
        </div>
        <div class="contact-item">
          <p>官方QQ群：903290</p>
        </div>
        <div class="contact-item">
          <p>官方客服微信：添加微信</p>
        </div>
      </div>
  </div>
  <div class="inner text-center company">
    <span class="text-muted value">Copyright &copy; Singapor APC Foundation Limited 2018</span>
  </div>
</footer>