<form [formGroup]="formModel"
      (ngSubmit)="f.form.valid && submit()" #f="ngForm">
      <div class="airdrop">
        <div class="general-info">
            <h4>空投</h4>
            <p>本轮空投会给每位2000EF。请确保您有合法的数字钱包。</p>
            <p>请填写尽量多的信息以尽可能多的获取你想要的。如何你有任何意见或者疑虑，请将其发布到我们的<a href="">电报组</a>或者联系微信号12345.
            </p>
        </div>
        <div class="row input-group">
            <div class="item-group">
                <!-- <label class="name-label">钱包地址</label> -->
                <input formControlName="address" 
                        id="address" type="text"
                        class="form-control" 
                        placeholder="钱包地址" 
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label class="password-label">电报</label> -->
                <input formControlName="telegramid" 
                        id="telegramid" type="text" 
                        class="form-control" 
                        placeholder="电报账号"
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label class="email-label">微信</label> -->
                <input formControlName="wechatid" 
                        id="wechatid" type="text"
                        class="form-control" 
                        placeholder="微信账号"
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label class="name">姓名</label> -->
                <input formControlName="name" 
                        id="name" type="text"
                        class="form-control" 
                        placeholder="你的姓名"
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label>联系电话</label> -->
                <input formControlName="phone" 
                        id="phone" type="number"
                        class="form-control" 
                        placeholder="联系电话"
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label class="name-label">邮箱</label> -->
                <input formControlName="mail" 
                        id="mail" type="email"
                        class="form-control" 
                        placeholder="邮箱地址"
                        (keyup)="onInput()">
            </div>
        
            <div class="item-group">
                <select formControlName="profession"
                        id="profession"
                        class="form-control">
                    <option value="">职业</option>
                    <option>画家</option>
                    <option>摄影师</option>
                </select>
            </div>

            <div class="fail-container" *ngIf="errorValue != ''">
                <p class="fail"> {{errorValue}} </p>
            </div>
            <div class="empty-fail" *ngIf="errorValue == ''">
            </div>

            <button id="submit" type="submit" class="submit-btn">提交</button>
        </div>
    </div>  
</form>