<form [formGroup]="formModel"
      (ngSubmit)="f.form.valid && submit()" #f="ngForm">
    <div id="airdrop" class="airdrop">
        <img class="image" src="assets/kongtou.png">
        <div class="general-info">
            <p>Everyone will get 2000EF in this token presale. Please make sure you have a valid digital wallet address, which is not binded to any exchange platform.Please add more informations。If you have any questions, Please contact us by telegram: <a href="https://t.me/joinchat/JNUf5RIaKKAe60oIxkU7_g"></a>or wechat: sky487746.
            </p>
        </div>
        <div class="row botton-container">
            <div class="input-group">
                <div class="part-group">
                    <div class="wallet">
                        <input formControlName="address" 
                                id="address" type="text"
                                class="form-control" 
                                placeholder="Wallet Address(Required)" 
                                (keyup)="onInput()">
                    </div>
                </div>
                <div class="row part-group">
                    <div class="item-group">
                        <!-- <label class="password-label">电报</label> -->
                        <input formControlName="telegramid" 
                                id="telegramid" type="text" 
                                class="form-control" 
                                placeholder="Telegram group(or wechat id)"
                                (keyup)="onInput()">
                    </div>
        
                    <div class="item-group">
                        <!-- <label class="email-label">微信</label> -->
                        <input formControlName="wechatid" 
                                id="wechatid" type="text"
                                class="form-control" 
                                placeholder="Wechat id (or telegram group)"
                                (keyup)="onInput()">
                    </div>
                </div>

                <div class="row part-group">
                    <div class="item-group">
                        <!-- <label class="name">姓名</label> -->
                        <input formControlName="name" 
                                id="name" type="text"
                                class="form-control" 
                                placeholder="Name"
                                (keyup)="onInput()">
                    </div>
        
                    <div class="item-group">
                        <!-- <label>联系电话</label> -->
                        <input formControlName="phone" 
                                id="phone" type="number"
                                class="form-control" 
                                placeholder="Contacts"
                                (keyup)="onInput()">
                    </div>
                </div>

                <div class="row part-group">
                    <div class="item-group">
                        <!-- <label class="name-label">邮箱</label> -->
                        <input formControlName="mail" 
                                id="mail" type="email"
                                class="form-control" 
                                placeholder="EMail"
                                (keyup)="onInput()">
                    </div>
                
                    <div class="item-group">
                        <select formControlName="profession"
                                id="profession"
                                class="form-control">
                            <option value="">Occupation</option>
                            <option>Artist</option>
                            <option>Photographer</option>
                        </select>
                    </div>
                </div>

                <div class="row footer">
                    <div class="row wechat">
                        <div (mouseenter)="showWechat()" (mouseleave)="hideWchat()">
                            <img class="rounded-circle footer-image" src="assets/wechat_icon.jpg" alt="Generic placeholder image">
                            <p>Adding Wechat</p>
                        </div>
                        <div [hidden]="!showQRCode" class="qrcode">
                            <img src="assets/qrcode.jpg">
                        </div>
                    </div>

                    <div class="webpage">
                        <img class="rounded-circle footer-image" src="assets/mail_icon.jpg" alt="Generic placeholder image">
                        <p>www.elforce.net</p>
                    </div>

                    <div class="email">
                        <img class="rounded-circle footer-image" src="assets/host_web_icon.jpg" alt="Generic placeholder image">
                        <p>service@elforce.net</p>
                    </div>
                </div>
            </div>
            <div class="submit-container">
                <div class="fail-container" *ngIf="errorValue != ''">
                    <p class="fail"> {{errorValue}} </p>
                </div>
                <div class="empty-fail" *ngIf="errorValue == ''">
                </div>
    
                <div class="submit-area">
                    <button id="submit" type="submit" class="submit-btn">提 交</button>
                </div>
            </div>
        </div>
    </div>  
</form>