<footer class="mastfoot mt-auto footer">
  <div class="info-group">
    <div class="row item-group">
        <div class="contact-item">
          <p>Email: service@elforce.net</p>
        </div>
        <div class="contact-item">
          <p>Web address：www.elforce.net</p>
        </div>
        <!-- <div class="contact-item">
          <p>官方QQ群：903290</p>
        </div> -->
        <div class="contact-item">
          <p>Customer Service WeChat：sky487746</p>
        </div>
      </div>
  </div>
  <div class="inner text-center company">
    <span class="text-muted value">Copyright &copy; Singapore APC Foundation Limited 2018</span>
  </div>
</footer>