<footer class="mastfoot mt-auto footer">
  <div class="row item-group">
    <div class="col-md-3-5 contact-item ">
      <p>Email: service@elforce.net</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>Web address： www.apc.org</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>QQ Group：903290</p>
    </div>
    <div class="col-md-3-5 contact-item ">
      <p>Customer Service WeChat：add WeChat</p>
    </div>
  </div>
  <div class="inner text-center">
    <span class="text-muted">Copyright &copy; Singapore APC Foundation Limited 2018</span>
  </div>
</footer>