.airdrop {
    margin: 0;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;

    background-image: url("assets/airdrop.jpg");
    background-position: center center;
    background-size:cover;
}

.airdrop .top {
    margin-bottom: 10px;
}

.airdrop .top .image {
    width: 40%;
    height: auto;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;

    float: left;
}

.airdrop .top .general-info {
    width: 93%;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 0px;
}

.airdrop .top .general-info p{
    padding: 0;

    color: tomato;
}

.airdrop .bottom-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.airdrop .bottom-container .input-group {
    width: 100%;

    margin: 0;
    padding: 0;
}


.airdrop .bottom-container .input-group .item-group {
    margin-left: 4%;
    width: 92%;
    margin-right: 4%;

    padding: 0;
    margin-bottom: 20px;
}

.airdrop .bottom-container .input-group .item-group input{
    height: 30px;

    border-color: tomato;
    /* background-color: yellow; */
}

.airdrop .bottom-container .input-group .item-group select{
    height: 30px;

    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    border-color: tomato;
    /* background-color: yellow; */
}

.airdrop .bottom-container .footer {
    margin-top: 50px;
    margin-left: 4%;
    
    width: 100%;
}

.footer-image {
    width: 60px;
    height: 60px;
}

.airdrop .bottom-container .footer .wechat {
    width: 100%;

    padding: 0;
    margin: 0;
}

.airdrop .bottom-container .footer .wechat p img{
    width: 50%;
}

.airdrop .bottom-container .submit-container {
    width: 100%;
    height: 70px;

    margin: 0;
    padding: 0;
}

.airdrop .bottom-container .submit-container .submit-area {
    /* width: 60%;
    height: auto; */
    width: 160px;
    height: 70px;
    
    margin-right: 10%;
    margin-top: 0px;

    padding: 0;

    background-image: url("assets/download.png");
    background-position: center center;
    background-size:cover;

    float: right;
}

.airdrop .bottom-container .submit-container .submit-area .submit-btn {
    width: auto;
    font-size: 30px;

    margin-left: 45px;
    margin-top: 15px;

    border-radius: 4px;
    
    border: none;
    outline: none;

    color: white;

    background-color: transparent;

    /* text-decoration:none;
    text-shadow:0px 1px 0px #2f6627; */
}

/* .submit-btn:hover {
    background-color:#5cbf2a;
} */

.airdrop .bottom-container .submit-container .submit-area .submit-btn:active {
    position:relative;
    top:1px;
}

/* .airdrop .botton-container .submit-container .submit-area .submit-btn:hover {
    color: cornflowerblue;
} */

.airdrop .bottom-container .submit-container .fail-container {
    height: 25px;
    width: auto;

    margin-left: 4%;
    margin-right: 4%;
    margin-top: -18px;
    margin-bottom: 0;
    padding: 0;

    text-align: center;
}

.airdrop .bottom-container .submit-container .fail-container .fail {
    border-radius: 4px;

    background-color: red;
}

.airdrop .bottom-container .submit-container .empty-fail {
    margin-top: -18px;
    width: 100%;
    height: 25px;
}