.product {
    background-color: rgb(24, 39, 56);
    opacity: 0.8;

    padding-top: 60px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    color: white;
}

.font-1 {
    font-size: 12px;
}

.product .general-info {
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}

.product .video-group {
    padding: 0;
    margin-top: 15px;

    margin-right: 0;
}

.product .video-group .video {
    width: 100%;
    height: auto;

    padding: 0;
    margin: 0;
}

.product .general-info .homepage {
    height: 30px;
    padding: 0;
    margin-bottom: 0px;
}

.product .general-info .homepage p{
    margin-right: 10px;
    margin-top: 0;

    padding: 0;
}
