<div class = "col-md-12 kernal-container">
    <div class="row sharing-group info-group" id="sharingGroup">
        <img class="left image" src="assets/shejiao.jpg">
        <div class="sharing">
            <h3 class="title">社 交 价 值 共 识</h3>
            <p class="detail">用户是平台的核心;用户点赞、评论、分享具有价值;用户创作的数字资产具有价值;用户的时间具有价值</p>
        </div>
    </div>

    <div class="row jili-group info-group" id="jiliGroup">
        <div class="left jili">
            <h3 class="title">社 交 价 值 激 励</h3>
            <p class="detail">用户创作价值最大化;用户社交的价值获得EF代币奖励;用户的时间获得EF代币奖励;用户的任何贡献获得EF代币奖励</p>
        </div>

        <img class="image" src="assets/jili.jpg">
    </div>

    <div class="ai-group info-group" id="aiGroup">
        <img class="image" src="assets/ai.jpg" id="aiImage">
        <div class="ai-info">
            <div class="ai">
                <h3 class="title">人 工 智 能</h3>
                <p class="detail">社交活动与人工智能模型学习相结合;离线式绘画学习模型 -- ArtZero 1.0;人机交互式绘画学习模型 -- ArtZero 2.0;人工智能创造性行为通用解决方案</p>
            </div>
        </div>
    </div>

    <div class="row user-group info-group" id="stickinessGroup">
        <img class="left image" src="assets/nianxing.jpg">
        <div class="user">
            <h3 class="title">高 用 户 粘 性</h3>
            <p class="detail">平台赋予用户绘画创造能力;构建绘画社交交易生态;深度绑定用户权益;用户的绘画创造能力离不开平台</p>
        </div>
    </div>

    <div class="row copyright-group info-group" id="copyrightGroup">
        <div class="left copyright">
            <div>
                <h3 class="title">版 权 综 合 方 案</h3>
            </div>
            <p class="detail">多方共治综合解决版权确权维权问题;区块链时间戳线上追溯确权;二维码线下追溯确权;专设部门建立与政府长效联系</p>
        </div>

        <img class="image" src="assets/banquan.jpg">
    </div>
</div>
