.kernal-container {
    padding: 0;

    /* height: 1400px; */
}

.kernal-container .sharing-group{
  margin-left: 7.8%;
  margin-top: -7.8%;
}

.left{
  float: left;
}

.title {
  font-weight: bolder;
}

.detail {
  margin-top: 15px;
  font-size: 13px;
}

.kernal-container .info-group {
  width: 100%;
  padding: 0;
}

.kernal-container .info-group .image {
  width: 29.7%;
  height: 20%;

  border: 8px solid rgb(8, 8, 8);
}

.kernal-container .info-group .sharing {
  width: 220px;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3%;
}

.kernal-container .jili-group{
  margin-left: 45.3%;
  margin-top: -13%;
}

.kernal-container .info-group .jili {
  width: 220px;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10%;
}

.kernal-container .ai-group {
  margin-left: 4.7%;
  margin-top: -5%;
}

.kernal-container .ai-group .ai-info {
  width: 29.7%;
  height: 22%;

  overflow: auto;
}

.kernal-container .ai-group .ai-info .ai {
  width: 70%;

  margin-top: 10px;

  float: right;
}

.kernal-container .user-group {
  margin-left: 46.1%;
  margin-top: -22%;
}

.kernal-container .info-group .user {
  width: 180px;

  margin-left: 15px;
  margin-top: 4.7%;
}

.kernal-container .copyright-group {
  margin-left: 38%;
  margin-top: 3.9%;

  /* margin-bottom: 10px; */

  padding: 0;
}

.kernal-container .info-group .copyright {
  width: 29.2%;

  margin-top: 0;

  margin-right: 1.1%;

  padding: 0;
}

.kernal-container .info-group .copyright div {
  width: 100%;
  height: 40px;
}

.kernal-container .info-group .copyright div h3{
  margin-top: 0;
  float: right;
}

.kernal-container .info-group .copyright p{
  width: 100%;

  margin-right: 0;
  padding: 0;
}


  