.product {
    background-color: rgb(24, 39, 56);
    opacity: 0.8;

    padding-top: 60px;
    padding-bottom: 5px;

    color: white;
}

.product-info {
    padding: 0;
    margin-bottom: 10px;
}

.product-info p{
    margin-right: 10px;
    float: left;
}