.product {
    background-color: rgb(24, 39, 56);
    opacity: 0.8;

    padding-top: 60px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;

    color: white;
}

.product .product-info {
    height: 30px;
    padding: 0;
    margin-bottom: 0px;
}

.font-1 {
  font-size: 12px;
}

.product .product-info p{
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 10;

    padding: 0;
}

.product .video-group {
    padding: 0;
    margin-top: 20px;
    margin-left: 0;

    text-align: center;
}

.product .video-group .video {
    width: 350px;
    height: auto;

    padding: 0;
    margin: 0;
}

.product .video-group .video .source {
    padding: 0;
    margin: 0;

}

.left {
    float: left;
}

.right {
    float: right;
}
