
.home-background {
    background: transparent url("../assets/home.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 100vh;
}

.home-page {
    position: relative;
    top: 40vh;
    bottom: 40vh;
    margin: 0 auto;
    background-color: cornflowerblue;
}