<form [formGroup]="formModel">
      <div class="upload">
        <div class="general-info">
            <h4>Upload Your work</h4>
        </div>
        <div class="row input-group">
            <div id="fileSelGroup">
                <input type="file" name="imagePath" id="imagePath" style="display: none;"
                    (change)="showImage(input)" accept="image/png,image/jpg,image/jpeg" #input/>
            </div>

            <div class="item-group">
                <!-- <label class="email-label">微信</label> -->
                <input formControlName="wechatid" 
                        id="wechatid" type="text"
                        class="form-control" 
                        placeholder="Wechat(Required)"
                        (keyup)="onInput()">
            </div>

            <div class="item-group">
                <!-- <label class="name-label">钱包地址</label> -->
                <input formControlName="address" 
                        id="address" type="text"
                        class="form-control" 
                        placeholder="General Wallet Address" 
                        (keyup)="onInput()">
            </div>

            <div class="thumbnail image-container" 
                    (mouseenter)="showReselectBtn()"
                    (mouseleave)="removeReselectBtn()">

                <!-- first selection -->
                <input class="selectBtn" 
                        type="button" 
                        value="+" 
                        (click)="selectFile()" 
                        *ngIf="imagePreview.src == ''">
                
                <!-- select again -->
                <div *ngIf="showReselectCtrl" class="reselect-container">
                    <button class="reselect-Btn" (click)="selectFile()">Reselect
                    </button>
                </div>

                <!-- image preview -->
                <img id="imagePreview" class="image" #imagePreview>
            </div>

            <div class="fail-container" *ngIf="errorValue != ''">
                <p class="fail"> {{errorValue}} </p>
            </div>
            <div class="empty-fail" *ngIf="errorValue == ''">
            </div>

            <button id="submit" type="submit" class="submit-btn" (click)="submit()">Submit</button>
        </div>
    </div>  
</form>